img
  display: block
body.startups
  background: white
.startups
  .startup
    width: 740px
    padding: 50px 0
    .header
      position: relative
      a
        display: block
        position: absolute
        right: 0
        top: 10px
        height: 30px
        color: white
        line-height: 30px
        padding: 0 16px
        border-radius: 2px
        background: image-url("blue-btn-gradient.png") 0 0 repeat-x
    .content
      padding:  40px
    .databox
      float: right
      width: 222px
      background: #FAFAFA
      border:  1px solid #E6E6E6
      font-size: 11px
    .databox-top
      height: 142px
      text-align: center
      border-bottom: 1px solid #e6e6e6
      padding: 14px 10px
      img
        margin: 0px auto 12px auto
        height: 100px
      table
        color: rgb(200,200,200)
        width: 100%
        text-align: left
        margin-top: 6px
        .right
          font-size: 13px
          text-align: right
    .databox-bottom
      padding: 14px 10px
      height: 117px
      color: rgb(200,200,200)
      p
        margin: 0px
        margin-bottom: 8px
        line-height: 10px
      ul
        font-size: 13px
        line-height: 24px
        color: rgb(80,80,80)
    .headimg
      border: 1px solid #e6e6e6
      float: left
    .content
      clear: both
    h2
      margin: 0 0 30px
      color: #333
  .right
    color: rgb(80,80,80)