@import "startups"
@import "compass"
@import reset.css

$distiller-blue: rgb(74,166,255)
$distiller-green: rgb(101,167,0)
$distiller-red: rgb(237,64,64)
$font-color: rgb(140,140,140)
$link-hover-color: rgb(153, 205, 255)
html
  font-family: 'Open Sans', sans-serif
  color: $font-color
  font-size: 14px
  line-height: 18px
  font-weight: 100
body
  background: image-url('bg.jpg') 50% 0 no-repeat
a
  text-decoration: none
  color: $font-color

a:hover
  color: $distiller-blue
.clear
  clear: both
  height: 1px
p
  line-height: 24px
  margin: 10px 0 0 0
h1  
  font-weight: 100
  line-height: 50px
  font-size: 30px
  margin: 0px
h2
  line-height: 50px
  margin: 56px 0
  border-bottom: 1px solid #f0f0f0
  font-weight: 100
  line-height: 50px
  font-size: 30px
h3
  clear: both
  margin: 60px 0 30px 0
  color: $font-color
  font-size: 22px
h4
  padding: 30px 0
  color: $font-color
  font-size: 18px
.container
  width: 980px
  margin: 0 auto
  position: relative
header
  background:  image-url('bg.jpg') 50% 0 no-repeat
.navbar
  background: rgba(0,0,0,0.4)
  height: 70px
  line-height: 70px
  h1
    line-height: 70px
    margin: 0
    color: white
    float: left
  .menu
    float: right
    a
      padding: 0 12px
      color: white
.hero-menu
  height: 570px
  max-height: 800px
  .hero-btns
    width: 980px
  .value-prop
    padding: 113px 0 0
    height: 316px
    a
      color: $distiller-blue
      
    a:hover
      color: $link-hover-color
  h1
    color: white
    text-shadow: 0 1px 6px #333
    width:  540px
  a.hero-btn
    background-color: rgba(255,255,255,0.9)
    text-align: center
    cursor: pointer
    width: 314px
    height: 58px
    padding: 18px 0 34px 0
    border-radius:  4px
    float: left
    margin-right: 19px
    color: $font-color
    @include single-box-shadow(rgba(0,0,0,0.2), 0px, 2px, 3px)
    h3
      font-size: 19px
      color: rgb(51,51,51)
      background: image-url("spr-headers.png") 0 0 no-repeat
      line-height: 26px
      display: inline
      padding-left: 42px
      margin-left: -42px
    h3.hero-title-labs
      color: $distiller-blue
    h3.hero-title-startups
      color: $distiller-green
      background-position: 0 -26px
    h3.hero-title-network
      color: $distiller-red
      background-position: 0 -52px
    h5
      font-size: 14px
      color: rgb(102,102,102)
      line-height: 18px
      margin: 10px 0 0
      padding: 0px 15px
  a.hero-btn:hover
    background-color: white
  .fixed-nav
    z-index: 80
    background: white image-url('bg-fixed-nav.png') 0 2px repeat-x
    width:  100%
    position: fixed
    top: 0
    height: 55px
    .fixed-nav-inner
      width: 980px
      margin: 0 auto
      height: 55px
    a.hero-btn
      background: white
      border-radius: 0
      box-shadow: none
      width: 314px
      float: left
      margin: 0 19px 0 0
      padding: 0
      height: 50px
      line-height: 50px
    a.hero-btn.hero-network
      margin: 0
    h5
      display: none
  h3
    margin: 0
  a.hero-network
    margin:  0
.main-content
  background: white
  padding-bottom: 120px
  .container
    clear: both
    width:  660px
    padding: 0 40px
  h2
    margin: 0 -40px
.home-section
  h2
    background: image-url('spr-section-logos.png') 100% 0 no-repeat
.labs
  .location
    float: left
    width: 100%
    margin-bottom: 20px
  .aucklandloc
    margin-bottom: 260px
  .loctext
    float: left
    h4
      padding: 0px
  .map
    img
      width: 290px
      height: 160px
      float: right

  h2
    margin-top: 56px
    color: $distiller-blue
  h3
    color: $distiller-blue
.startups
  h2
    margin: 240px -40px 56px
    color:  $distiller-green
    background-position: 100% -50px
  h3
    color: $distiller-green
.network
  h2
    margin-top: 240px
    color:  $distiller-red
    background-position: 100% -100px
  h3
    color:  $distiller-red
  p.network-initial
    margin-top: 60px
.alumni-container
  @include clearfix
  p
    width: 220px
#startups
  width: 680px
  ul
    width: 30%
    float: left
    li
      padding: 6px 0
.startups-smashbox
  float: left
  width: 150px
  margin: 0 20px 18px 0
  text-align: center
  .starup-image
    width: 150px
    height: 150px
    background: #f5f5f5
    border-radius: 7px
    text-align: center
    img
      margin:  auto auto

ul.bullets
  margin-left: 10px
  list-style-type: disc
  padding-left: 18px
  padding-bottom: 10px
  li
    margin-top: 8px

#all-startups
  margin-top: 60px
  margin-bottom: 0px
  color: rgb(128,128,128)
  font-size: 24px

.list-container
  @include clearfix
  ul
    width: 220px
    float: left
    li
      padding: 6px 0
  #alumni-startups
    width: 60%
    float: left 
    h3
      color: rgb(160,160,160)

  #current-startups
    width: 30%
    float: left
    h3
      color: rgb(160,160,160)
#logotype
  color: white

.white-text
  color: rgb(220,220,220)
.spacer
  height: 60px
  width: 100%
  float: left
.sponsors
  height: 432px
  width: 100%
  background-color: white
  text-align: center
  .sponsor-divider
    background: image-url('footer-divider.png') 50% 0 no-repeat
  .logos
    width: 840px
    height: 354px
    margin: 0 auto

.call-to-action
  margin: 30px auto 0 auto
  text-align: center
  a
    font-size: 20px
    height: 40px
    color: white
    padding: 6px 16px
    border-radius: 2px
    background-color: $distiller-red

.content 
  ul
    list-style-type: disc
    padding-top: 18px
    padding-left: 18px
    line-height: 1.5em

    li
      padding-bottom: 10px