@import "compass"
@import "defaults"
@import "susy"

//setup vertical rhythm
// @include establish-baseline

$distiller-blue: rgb(74,166,255)
$distiller-green: rgb(101,167,0)
$distiller-red: rgb(237,64,64)

.hero-menu
  background: image-url("bg.jpg") 50% 0 no-repeat
  overflow: auto

  .value-prop
    @include container

    text-shadow: 0 1px 4px rgba(0,0,0,0.4)
    margin-top: 140px

    h1
      width: 580px
      color: white

  .hero-btns
    @include container  

    margin-top: 140px

    .hero-labs
      @include span-columns(4,12)

    .hero-startups
      @include span-columns(4, 12)

    .hero-network
      @include span-columns(4 omega,12)

.hero-btn
  background-color: rgba(255,255,255,0.9)
  text-align: center
  display: block
  padding: 15px 0px
  cursor: pointer

.hero-btn:hover
  background-color: white

h3.hero-title
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  font-size: 21px
  color: rgb(51,51,51)
  background: image-url("spr-headers.png") 0 0 no-repeat
  line-height: 26px
  display: inline
  padding-left: 42px
  margin-left: -42px

h3.hero-title-labs
  color: $distiller-blue

h3.hero-title-startups
  color: $distiller-green
  background-position: 0 -26px

h3.hero-title-network
  color: $distiller-red
  background-position: 0 -52px


h5.hero-description
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  font-size: 14px
  color: rgb(102,102,102)
  line-height: 18px
  margin-top: 10px
  margin-bottom: 0px
  padding: 0px 15px


.navbar
  height: 70px
  background: image-url("bg-navbar.jpg") 50% 0 no-repeat
  overflow: auto

  .container
    @include container
    color: white
    margin-top: 9px

    .logo
      @include span-columns(3, 12)

    .menu
      @include span-columns(4 omega,12)

.main-content
  margin-top: 100px

  .labs
    .section-title
      color: $distiller-blue
    .section-body
      h3
        color: $distiller-blue

  .startups
    .section-title
      color: $distiller-green
    .section-logo
      background-position: 0 -36px
    .section-body

  .network
    .section-title
      color: $distiller-red
    .section-logo
      background-position: 0 -72px
    .section-body
      h3
        color: $distiller-red

.startup-logo
  background-color: rgb(245,245,245)

.home-section
  width: 740px
  margin: 0 auto 240px auto

.section-title
  float: left
  margin-bottom: 4px

.section-body
  padding: 0 40px
  margin-top: 60px

.section-logo
  background: image-url('spr-section-logos.png') 0 0 no-repeat
  width: 30px
  height: 34px
  float: right

.dividing-line
  width: 100%
  background-color: rgb(240,240,240)
  height: 1px
  margin-top: 13px
  clear: both

.contact-dunedin
  .map

.contact-auckland
  .map
  




//font definitions

h1
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  line-height: 50px
  font-size: 30px
  margin: 0px

h2
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  line-height: 20px
  font-size: 30px
  margin: 0px

h3
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  line-height: 20px
  font-size: 22px
  margin: 0px
  margin-bottom: 20px

h4
  font-family: 'Open Sans', sans-serif
  font-weight: 400
  line-height: 20px
  font-size: 15px
  margin: 0px
  margin-bottom: 10px
  color: rgb(80,80,80)

p
  font-family: 'Open Sans', sans-serif
  font-weight: 100
  font-size: 14px
  color: rgb(140,140,140)
  line-height: 25px
  margin-top: 10px
  margin-bottom: 0px

a
  color: rgb(74,166,255)
  text-decoration: none

a:hover
  color: rgb(153,205,255)



.light-shadow
  @include single-box-shadow(rgba(0,0,0,0.2), 0px, 2px, 3px)

.heavy-shadow
  @include single-box-shadow(rgba(0,0,0,0.3), 0px, 4px, 4px)

.round-corner
  @include border-radius(4px, 4px)
