.sponsors
  .sponsor-divider
    %h4 Sponsors & Supporters
  .logos
    %map{:name => 'sponsor-map'}
      %area{:shape => 'rect', :coords => '93,12,205,112', :href => 'http://www.otago.ac.nz/', :alt => 'University of Otago', :target => '_blank'}
      %area{:shape => 'rect', :coords => '215,19,397,109', :href => 'http://www.business.otago.ac.nz/com/', :alt => 'University of Otago Business School', :target => '_blank'}
      %area{:shape => 'rect', :coords => '423,19,727,93', :href => 'http://www.otago.ac.nz/centreforinnovation/', :alt => 'University of Otago Centre for Innovation', :target => '_blank'}
      %area{:shape => 'rect', :coords => '110,143,267,215', :href => 'http://www.dunedin.govt.nz/', :alt => 'Dunedin City Council', :target => '_blank'}
      %area{:shape => 'rect', :coords => '300,147,524,213', :href => 'http://www.nzte.govt.nz/Pages/default.aspx', :alt => 'New Zealand Trade & Enterprise', :target => '_blank'}
      %area{:shape => 'rect', :coords => '555,141,743,215', :href => 'http://www.tindall.org.nz/', :alt => 'The Tindall Foundation', :target => '_blank'}
      %area{:shape => 'rect', :coords => '184,241,384,319', :href => 'http://www.otagopolytechnic.ac.nz/', :alt => 'Otago Polytechnic', :target => '_blank'}
      %area{:shape => 'rect', :coords => '437,248,623,310', :href => 'http://www.oct.org.nz/', :alt => 'Otago Community Trust', :target => '_blank'}
    = image_tag "sponsors.jpg", :width => '840px', :height => '354px', :usemap => "#sponsor-map"  