.navbar
  .container
    .logo
      %h1 The Distiller

    .menu
      = link_to 'Labs', '/labs'
      = link_to 'Startups', '/startups'
      = link_to 'Network', '/network' 
      = link_to 'Contact', 'contact'