.navbar
  .container
    .logo
      %h1
        %a{:href => '/#top', :id => "logotype"} The Distiller
    .menu
      %a{:href => '/#labs'} Labs
      %a{:href => '/#startups'} Startups
      %a{:href => '/#network'} Network
      %a{:href => '/history.html'} Our History
      %a{:href => '/event_form.html'} 2014 Event Form
      %a{:href => '/#contact'} Contact
