---
title: Error 404
---

.hero-menu
  .value-prop.container
    %h1
      404 - Page not found
    %h4.white-text
      We're sorry but we can't find the page you were looking for.<br/><br/>
      = link_to 'Return home', '/'