---
title: Dunedin Labs
---
.main-content
  .labs.home-section.container#labs
    .clear
    %h2 Distiller Dunedin
    %h3 The Dunedin lab is now open for the residents of 2013!
    <iframe width="660" height="372" src="http://www.youtube.com/embed/G0OoIlcwTzU" frameborder="0" allowfullscreen></iframe>
    %p After four years, all the original Distiller Lab residents at the Centre for Innovation have either grown up and moved out, or are now up at the Auckland Lab growing their startups.
    %p This means that it’s time to usher in a new generation of Dunedin Distillerites. Are you looking to join a community of people starting up great companies here in Dunedin? Come join us! 
    %p Register your interest by submitting your email address below, and we’ll get everyone together for an information evening so we can meet each other and develop a vision for how The Distiller can best help you over the coming year. 
    .call-to-action
      %a{:href=>'http://pocketsmith.wufoo.eu/forms/distiller-dunedin/', :target => '_blank'}
        Yes I’m interested