---
title: Our History
---
.main-content
  .labs.home-section.container#labs
    .clear
    %h2 The History of The Distiller
    .spacer
    %p The Distiller is a cluster of technology entrepreneurs based in Dunedin and Auckland that was founded in October 2008 by Jason Leong, Pierre-Emmanuel de La Bussiere, Tim Calder, James Wigglesworth and Francois Bondiguel. 
    %p Inspired by the relatively hands-on approach taken towards pre-seed funding by US-based Y-Combinator, they sought an opportunity to create a similar, but non-profit environment in Dunedin.
    %p The Distiller focuses on enabling technology-related pre-seed entrepreneurial ventures, and aims to help entrepreneurs bring their ideas to fruition by providing a hands-on environment that encourages progress and creativity through knowledge sharing, networking, and cross-inspiration.
    %p While there exists government provided support for entrepreneurial ventures, The Distiller assists those at the ground level, lowering barriers to entry for those who do not know where to begin. By building a community of entrepreneurs we also better understand their requirements through active and candid interaction.
    %p We believe that the likelihood of a startup’s success is defined in part by the company it keeps. It’s not just about dollars and cents: a startup in its earliest stages is like a child, and a good foundation of sound business principles and social responsibility within a supportive family environment is an enriching experience regardless of the outcome.
