---
title: Welcome to Middleman
---
.hero-menu
  .value-prop.container
    %h1 The Distiller helps tech startups achieve growth through collaboration, sharing, and support from the community.
    %h1
      = link_to 'Get involved.', '/contact'
  .hero-btns.container
    .hero-labs.hero-btn.round-corner.light-shadow
      %h3.hero-title.hero-title-labs
        Labs
      %h5.hero-description
        Shared creative spaces for startups in both Auckland and Dunedin.

    .hero-startups.hero-btn.round-corner.light-shadow
      %h3.hero-title.hero-title-startups
        Startups
      %h5.hero-description
        Our labs have 21 current startups in both cities. Find out more about them here.

    .hero-network.hero-btn.round-corner.light-shadow
      %h3.hero-title.hero-title-network
        Network
      %h5.hero-description
        Find out about our broad network of entrepreneurs, backers and more.
.main-content
  .labs.home-section
    .section-title
      %h2 Labs
    .section-logo

    .dividing-line

    .section-body
      %p Core to how The Distiller operates are The Startup Sprints, which is an evolving framework modelled on successful startup and software development methodologies. The Sprints are applied as a part of The Distiller's free incubator model, in which peer governance and collaboration are the tenets of business development.
      %p Startups at The Distiller get access to the Labs, which are collaborative spaces in Dunedin and Auckland. Sprints are held every two weeks which keeps everyone accountable for each other’s success. 
