---
title: Welcome to Middleman
---
.hero-menu
  .value-prop.container
    %h1
      The Distiller helps tech startups achieve growth through collaboration, sharing, and support from the community.
      %br/
      = link_to 'Get involved.', '/contact'
  .hero-btns.container
    %a.hero-labs.hero-btn{:href=>"#"}
      %h3.hero-title-labs
        Labs
      %h5.hero-description
        Shared creative spaces for startups in both Auckland and Dunedin.
    %a.hero-startups.hero-btn{:href=>"#"}
      %h3.hero-title.hero-title-startups
        Startups
      %h5.hero-description
        Our labs have 21 current startups in both cities. Find out more about them here.
    %a.hero-network.hero-btn{:href=>"#"}
      %h3.hero-title-network
        Network
      %h5.hero-description
        Find out about our broad network of entrepreneurs, backers and more.
.main-content
  .labs.home-section.container
    .clear
    %h2 Labs
    %h3 Free collaborative environments in Auckland &amp; Dunedin
    %p Core to how The Distiller operates are The Startup Sprints, which is an evolving framework modelled on successful startup and software development methodologies. The Sprints are applied as a part of The Distiller's free incubator model, in which peer governance and collaboration are the tenets of business development.
    %p Startups at The Distiller get access to the Labs, which are collaborative spaces in Dunedin and Auckland. Sprints are held every two weeks which keeps everyone accountable for each other’s success.
    %h3 Get in touch with The Distiller
    .location
      %h4 Dunedin
      %p dunedin@thedistiller.co.nz
      %address 87 St David St, North Dunedin, Dunedin 9016
      .map
        Google Map Here
    .location
      %h4 Auckland
      %p auckland@thedistiller.co.nz
      %address 87 St David St, North Dunedin, Dunedin 9016
      .map
        Google Map Here
  .startups.home-section.container
    %h2 Our Startups
    = partial 'our_startups'
    %h3 Alumni
  .network.home-section.container
    %h2 Network
    %p The Distiller aims to create a vibrant entrepreneurial environment in New Zealand. Our community includes individuals and businesses who interact with The Distiller via meetups, casual meetings, etc. 
    %p The purpose of our network is to:
    %ul 
      %li Increase ease of starting and doing business
      %li Attract and retain global talent 
      %li Build strong networks with which to conduct and grow business
      %li Become thought and business leaders through innovation
      %li Contribute our talents and skills to the local community
    %p The Distiller provides national "hotdesk" opportunities for members of our network. Our "open door" policy allow students, individuals, businesses, and other interested parties to to intermingle with entrepreneurs, and tap resources of our community. 
